/* #base-body {
  padding:20px;
} */

#base-navbar {
  border-radius:5px;
  margin-bottom:10px;
  margin:10px;
  font-family:'Bungee';
  letter-spacing:2px;
}

#navbar-logo{
  margin-left:5px;
  color:#257BFF;
}

#navbarNav {
  justify-content: space-between;
}

.nav-item{
  margin:auto 5px;
}

#index-jumbotron-inner{
  vertical-align:middle;
  display:table-cell;
  text-align:center;
  color:white;
  font-size:20px;
}

#index-jumbotron{
  height:15em;
  display:table;
  text-align: center;
  width:100%;

}

.index-text{
  text-align:center;
  margin:auto 60px;
  margin-bottom:10px;
}

#index-video-wrapper{
  margin-top:50px;
}

#index-video{
  width:80%;
  max-width:600px;
  display: table;
  margin: 0 auto;
  border-radius:5px;
}

.leaderboard{
  margin:15px;
  text-align:center;
  border:1px solid black !important;
  border-radius:5px;
  background-color:white;
  padding:20px;
}

.leaderboard-item{
  background-color:black;
  color:white;
  font-size:30px;
  border:1px solid black !important;
  width:100%;
  margin:5px;
  border-radius:5px;
}

.member{
  font-size:20px;
  border-radius:5px;
  border:1px solid black;
  padding:5px 20px;
  margin:10px;
  background-color:black;
  color:white;
}

ol {list-style: none; counter-reset: li}

li.leaderboard-item::before {content: counter(li)".";

  color: #257BFF;
  display: inline-block;
  width: 1em;

  margin-left: -1em}

li.leaderboard-item {counter-increment: li}


.leaderboard-list{
  width:100% !important;
  padding-left:0;
  padding-right:5px;
}

.card.stat-card{
  margin:5px 200px;
}

.stat{
  text-align:center;
  font-size:30px;
  font-family:Bungee;
}

.stat-number{
  color:#257BFF;
  font-size:40px;
}

.index-player-count{
  text-align:center;
  font-size:30px;
  margin-top:30px;
  font-family:'Bungee';
  color:#257BFF;
}

.card.hof-item{
  margin:10px 20px !important;
}

li.hof-li{
  font-size:40px !important;
  list-style: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.title{
  text-align:center;
  font-size:50px;
  color:white;
  font-family:'Bungee'
}

.button-container{
  margin:10px;
  text-align:center;
}

.card{
  border-radius:5px !important;
  background-color:white;
  margin:10px !important;
  padding:35px 20px;
  color:black;
}

#rank-display{
  padding-top:10px;
  background-color:black;
  color:white;
  font-family:'Bungee';
  font-size:40px;
  border-radius:5px;
  text-align:center;
}

.card-title{
  font-size:25px;
  color:black;
  font-family:'Bungee';
  text-align:center;
}

.user-code{
  padding:5px;
  border-radius:5px;
  border: 1px solid black;
  font-size:30px;
  text-align:center;
  width:80%;
  margin:5px auto;
  margin-bottom:15px;
  font-family:'Bungee';
}

.target-inner{
  padding:5px;
  border-radius:5px;
  background-color:black;
  color:white;
  text-align:center;
  font-size:20px;
  margin: 30px 0;
}

.user-icon{
  width:30px;
  height:30px;
  margin:auto;
  margin-bottom:20px;
}

.code-textarea{
  font-size:30px;
  border-radius:5px;
  border: 1px solid black;
  width:100%;
}

.code-submit{
  border-radius:5px;
  background-color:black;
  color:white;
  font-family:'Bungee';
  margin:10px 0px;
  width:80%;
  height:50px;
}

.code-submit-disabled{
  border-radius:5px;
  background-color:grey;
  color:white;
  font-family:'Bungee';
  margin:10px 0px;
  width:80%;
  height:50px;
}


@media only screen and (min-width: 600px) {
  #index-jumbotron {
    padding-top: 100px;
  }
}

#index-logo{
  letter-spacing:3px;
  font-size:72px;
}

.table{
  background-color:white;
  text-align:center;
  border-radius:5px;
}

#index-content{
  background-color:white;
  height:100%;
}

h1{
  font-family:'Bungee';
}

body{
  font-family: 'Roboto';
  background-color:#257BFF;
}

.navbar-light .navbar-toggler{
  border:0px;
}


h2{
  padding: 0;
  margin:0;
  color: #fff;
  font-size: 30px;
}

span:before{
  content: 'hello';
  animation: animate infinite 8s;

}
@keyframes animate {

  25%{
    content: 'Quote2';
  }
  50%{
    content: 'Quote3';
  }
  75%{
    content: 'Quote4';
  }
  100%{
    content: 'Quote5';
  }
}
