{% extends 'base.html' %}
{% block content %}

<h1 class="title">Hall of Fame</div>

<div class="card hof-item">
<div class="row">
	<div class="col-md-6">
		<img class="center" src="/static/winners_2021.jpg"/>
	</div>
	<div class="col-md-6">
		<h3>2021 Winners</h3>
		<ul>
			<li class="hof-li">Alen Alshinbayev '21</li>
			<li class="hof-li">Alex Chun '21</li>
			<li class="hof-li">Charlie Macdonnell '21</li>
			<li class="hof-li">Jake Heimowitz '21</li>
			<li class="hof-li">Oleg Kokarev '21</li>
			<li class="hof-li">Rishin Patel '21</li>
			<li class="hof-li">Sunjay Riener '21</li>
		</ul>
	</div>
</div>
</div>

<div class="card hof-item">
<div class="row">
	<div class="col-md-6">
		<img class="center" src="/static/winners_2019.jpg"/>
	</div>
	<div class="col-md-6">
		<h3>2020 Winners</h3>
		<ul>
			<li class="hof-li">Devan Morey '22</li>
			<li class="hof-li">Kaleb Mucius '19</li>
			<li class="hof-li">Quinn Waldron '19</li>
			<li class="hof-li">Diassa Diakite '19</li>
			<li class="hof-li">Billy Dunn '19</li>
		</ul>
	</div>
</div>
</div>

<div class="card hof-item">
<div class="row">
	<div class="col-md-6">
		<img class="center" src="/static/winners_2019.jpg"/>
	</div>
	<div class="col-md-6">
		<h3>2019 Winners</h3>
		<ul>
			<li class="hof-li">Devan Morey '22</li>
			<li class="hof-li">Kaleb Mucius '19</li>
			<li class="hof-li">Quinn Waldron '19</li>
			<li class="hof-li">Diassa Diakite '19</li>
			<li class="hof-li">Billy Dunn '19</li>
		</ul>
	</div>
</div>
</div>

<div class="card hof-item">
<div class="row">
	<div class="col-md-6">
		<img class="center" src="/static/winners_2018.jpg"/>
	</div>
	<div class="col-md-6">

		<h3>2018 Winners</h3>
		<li class="hof-li">Cameron Desnoes '19</li>
		<li class="hof-li">Paris Husic '19</li>
		<li class="hof-li">Kaleb Mucius '19</li>
		<li class="hof-li">Biren Reddy '19</li>
	</div>
</div>
</div>


{% endblock %}
