{% extends 'base.html' %}
{% block content %}

<h1 class="title"> Home page </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <h3 class="card-title">your profile</h3>
          <button id="ShowButton" class="button hvr-glow" onclick="showCode()" value="{{user_info['user_id']}}">SEE YOUR CODE</button>
          <div class="row">

            <div class="col-md-6 col-xs-12 col-sm-12 user-info-left" style="max-width:300px;">
              <div style="font-size:23px;font-weight:bold">{{user_info["name"]}}</div>
              <div><strong>Email: </strong>{{user_info["email"]}}</div>
              <div><strong>Number of elims: </strong>{{user_info["number_of_elims"]}}</div>
              <div><strong>Immunity left: </strong>{{user_info["immunity_duration"]}} minutes</div>
              {% if not is_eliminated %}
                <span class="badge badge-success">Alive</span>
              {% else %}
                <span class="badge badge-danger">Eliminated</span>
              {% endif %}
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12" style="padding:15px;margin:auto;max-width:300px;">
              <div id="rank-display">
              <div style="font-size:22px">RANK</div>
              <div>#{{user_info["rank"]}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>

      {% if not is_eliminated %}
        <div class="col-md-6 col-xs-12">
          <div class="card">
          <h3 class="card-title">Target profile</h3>
            <div class="target-inner">
              <div><strong>Name:</strong> {{target_info["name"]}}</div>
              <div><strong>Email:</strong> {{target_info["email"]}}</div>
              {% if user_info["bio"] %}
              <div><strong>Message: </strong>{{target_info["bio"]}}</div>
              {% else %}
               {% endif %}
              <div><strong>Immunity left:</strong>  {{target_info["immunity_duration"]}} minutes</div>
                <div style="margin:5px 5px">
                {% if all_stats["is_immunity_on"] %}
                  <span class="badge badge-success">Immunity abilities active</span>
                {% else %}
                  <span class="badge badge-secondary">Immunity abilities disabled</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-lg-6 col-md-12">
          <div class='card'>
                       <img rel="icon" class="user-icon" src="/static/water_gun_icon.png" type="image/x-icon">
             <div class="card-title">Submit Target Code</div>
             <form onsubmit="return submitEliminationCode();">
             <div class="form-group" style="text-align:center">
             <input class="code-textarea" type=textarea name=code id=elimination-code>
             {% if not is_paused %}
             <input class="code-submit" type=submit value="Submit" class="btn btn-primary">
             {% else %}
             <input class="code-submit-disabled" disabled type=submit value="Submit" class="btn btn-primary">
             <p>The game is currently paused</p>
             {% endif %}

             </div>
             </form>
          </div>
        </div>
      {% endif %}

      <div class="col-lg-6 col-md-12">
        <div class='card'>
          <img rel="icon" class="user-icon" src="/static/heart_icon.png" type="image/x-icon">
           <div class="card-title">Submit Ability Code</div>
           <form onsubmit="return submitAbilityCode();">
           <div class="form-group" style="text-align:center">
           <input class="code-textarea" type=textarea name=code id=ability-code>
           <input class="code-submit" type=submit value="Activate" class="btn btn-primary">
           </div>
           </form>
        </div>
      </div>

      <div class="col-12">
        <div class='card'>
          <!-- <img rel="icon" class="user-icon" src="/static/heart_icon.png" type="image/x-icon"> -->
           <div class="card-title">Edit bio</div>
           <p>Write a message to your hunter! (Max 30 characters)</p>
           <p><strong>Current Message:</strong>
             {% if user_info["bio"] %}
              {{user_info["bio"]}}
             {% else %}
               - your bio is currently empty -
              {% endif %}
           </p>
           <form onsubmit="return submitBio();">
           <div class="form-group" style="text-align:center">
           <input class="code-textarea" type=textarea name=bio id=bio-text>
           <input class="code-submit" type=submit value="Edit" class="btn btn-primary">
           </div>
           </form>
        </div>
      </div>

    </div>
</div>
<script>

  function submitEliminationCode(){
    code = document.getElementById("elimination-code").value
    axios({
      method:'post',
      url:'/eliminate_user',
      data:{
        code:code,
      }
    }).catch(e=>console.log(e)).then(data => {alert(data["data"]); window.location.reload();})
    return false;
  }

  function submitAbilityCode(){
    code = document.getElementById("ability-code").value
    window.location.href = "/ability/" + code
    return false;
  }

  function submitBio(){
    bio = document.getElementById("bio-text").value
    axios({
      method:'post',
      url:'/change_bio',
      data:{
        bio:bio,
      }
    }).catch(e=>console.log(e)).then(data => {alert(data["data"]); window.location.reload();})
    return false;
  }

  function showCode() {
    var text = document.getElementById("ShowButton");
    if (text.textContent === "SEE YOUR CODE") {
      text.textContent = text.value;
    } else {
      text.textContent = "SEE YOUR CODE";
    }
  }
</script>


{% endblock %}
