{% extends 'base.html' %}
{% block content %}

<p> Home page </p>

<div>
  <h3>User info</h3>
  <p>name: {{user_info["name"]}}</p>
  <p>email: {{user_info["email"]}}</p>
  <p>number of elims: {{user_info["number_of_elims"]}}</p>
</div>

<div>
  <h3>Target info</h3>
  <p>name: {{target_info["name"]}}</p>
  <p>email: {{target_info["email"]}}</p>
</div>


<div>
  <h3>ID</h3>
  <h4>id: {{user_info["id"]}}</h4>
</div>


<div>
  <div>
   <h2>Submit_code</h2>
   <form onsubmit="return submitEliminationCode();">
   <div class="form-group">
   <input type=textarea name=code id=elimination-code>
   <input type=submit value="Submit code" class="btn btn-primary">
   </div>
   </form>
  </div>
</div>


<script>

  function submitEliminationCode(){
    code = document.getElementById("elimination-code").value
    axios({
      method:'post',
      url:'/eliminate_user',
      data:{
        code:code,
      }
    }).catch(e=>console.log(e)).then(data => {alert(data["data"]); window.location.reload();})
    return false;
  }

</script>


{% endblock %}
