{% extends 'base.html' %}
{% block content %}

<h1 class="title"> RULES - 2022</h1>

    <div class="card">
      <h2 class="card-title">GENERAL RULES</h2>
      <ol>
        <li><strong>1.</strong> Splash begins April 19th @ 10:45 am and ends at 10:00 pm on Tuesday, May 3rd.</li>
        <li><strong>2.</strong> Finals take place at the Bowl on Sunday, May 8th at 2:00 pm.</li>
        <li><strong>3.</strong> Students quarantined during the game will be automatically disqualified.</li>
        <li><strong>4.</strong> You are assigned a target to splash. Someone else is assigned to splash you. Check splash.reshwap.com for your target.</li>
        <li><strong>5.</strong> When you are eliminated, give up your splash code (on website). </li>
        <li><strong>6.</strong>
          Splashing cannot take place:
          <ul>
            <li>Anywhere Indoors, or within 5 feet of doors to any campus building.</li>
            <li>During departmentally-driven events such as community service, performance arts, and athletic events (during coach-given hours), amongst others.</li>
            <li>In construction areas.</li>
            <li>On main street or in faculty housing. </li>
          </ul>
        <li><strong>7.</strong> Only official splash bottles will be allowed until the Finals Round. </li>
        <li><strong>8.</strong> Expect pauses of Splash to be announced via email and the Splash website. </li>
        <li><strong>9.</strong>
            Rounds are accordingly:
            <ul>
              <li>a. Main Round, where the game continues without additional constraints.</li>
              <li>b. 24-Hour Round, if you don’t get your person out within the 24 hours, you are out.</li>
              <li>c. Final round, a free-for-all which will take place at the bowl on the aforementioned date.</li>
            </ul>
        <li><strong>10.</strong> If a player is missing commitments/breaking school rules, faculty can email the Splash Ops to eliminate that player from Splash. </li>
        <li><strong>11.</strong> Read below for information about the "ability" codes </li>
        
      </ol>
    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Ability Codes </h2>
        During the game, there will be rare “ability codes” hidden around campus
        or found through scavenger hunts. Entering these codes to the user’s “ability code”
        section will give the user one of 3 special abilities: temporary immunity, revival, or qualification.
        You will find out which ability you receive before you activate the code.
        <div>
        <ul>
        <li><strong>Immunity:</strong>
        These codes grant the user a short period of immunity. If the user is splashed while immune, they are not obligated to give their code to their hunter.
        Additional rules/tips
        Immunity codes cannot be used by a player after they are splashed. If the hunter of a user
        It’s not prohibited to lie about having immunity</li>

        <li><strong>Revival:</strong>
        This code allows you to revive yourself or a friend. It can be used after you are eliminated from the game.
        </li>

        <li>
          <strong>Qualification for Finals:</strong>
        If you use one of these codes, you will be immediately advanced to the finals
        </li>
        </ul>
        </div>

    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Statistics Page </h2>
      You can now see the status of the game by clicking the navigation bar at the top and clicking on the "Statistics" button.
      This page will tell you how many users are alive, how many ability codes has been used, which users have the most eliminations etc.
    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Bio </h2>
      If you would like to leave your hunter a small message, you now can! Just scroll down to your Splash profile page and enter your message in the text box. Your hunter will be able to see your message through their target panel.
    </div>


{% endblock %}
