{% extends 'base.html' %}
{% block content %}

<h1 class="title"> RULES - 2021</h1>

    <div class="card">
      <h2 class="card-title">GENERAL RULES</h2>
      <ol>
        <li><strong>1.</strong> Splash begins Saturday the 8th of May @ 8 a.m.</li>
        <li><strong>2.</strong> NO RLO/QUARANTINED STUDENTS 🦠</li>
        <li><strong>3.</strong> Each person who chooses to participate is assigned a target, another participant, who they have to splash with water. Users can see their target upon logging into the splash website: splash.reshwap.com. Naturally, the person will also have an assigned hunter, but the hunter will not be shown.</li>
        <li><strong>4.</strong> If a player get splashed, they must give their Splash code to the hunter</li>
        <li><strong>6.</strong>Players can only splash their personal target </li>
        <li><strong>7.</strong>
          Splashing cannot be within:
          <ul>
            <li>indoors</li>
            <li>in tents 🦠</li>
            <li>Within 10 feet of doors.</li>
            <li>On Main Street </li>
          </ul>
        <li><strong>8.</strong>No splashing during sports (can be splashed on the way to/from)</li>
        <li><strong>9.</strong>No going through roped off areas/construction areas</li>
        <li><strong>10.</strong>Only official splash bottles will be allowed to splash targets 🦠</li>
        <li><strong>11.</strong>Missing commitments will not be tolerated </li>
        <li><strong>12.</strong>Expect pauses of Splash to be announced via email and the Splash website</li>
        <li><strong>13.</strong>As the game gets towards the weekend, there will be multiple 24-hour rounds (in these rounds, if you don't get your person out within a day, you're out)</li>
        <li><strong>14.</strong>If a player is missing commitments/breaking rules, faculty can email the Splash Ops to eliminate that player from Splash</li>
        <li><strong>15.</strong>If a player has issues while playing the game, email the Splash Ops (Jamie Nicholson, Idaya Chambers, and Nico Torres)</li>
        <li><strong>16.</strong>Final round (free-for-all), will be on the turf fields that Sunday the 16th of May</li>
        <li><strong>17.</strong>It's a hunter's responsibilty to ensure that their elimination goes through.</li>
        <li><strong>18.</strong>You may not Splash a player who is Zooming outdoors for their class.</li>
        <li><strong>19.</strong>Students who are scheduled to be in person for class cannot Zoom into class to avoid being Splash. Anyone reported doing so will be automatically eliminated.</li>
      </ol>
      🦠 COVID-19 related additions/modifications
    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Ability Codes </h2>
        During the game, there will be rare “ability codes” hidden around campus
        or found through scavenger hunts. Entering these codes to the user’s “ability code”
        section will give the user one of 3 special abilities: temporary immunity, revival, or qualification.
        You will find out which ability you receive before you activate the code.
        <div>
        <ul>
        <li><strong>Immunity:</strong>
        These codes grant the user a short period of immunity. If the user is splashed while immune, they are not obligated to give their code to their hunter.
        Additional rules/tips
        Immunity codes cannot be used by a player after they are splashed. If the hunter of a user
        It’s not prohibited to lie about having immunity</li>

        <li><strong>Revival:</strong>
        This code allows you to revive yourself or a friend. It can be used after you are eliminated from the game.
        </li>

        <li>
          <strong>Qualification for Finals:</strong>
        If you use one of these codes, you will be immediately advanced to the finals
        </li>
        </ul>
        </div>

    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Statistics Page </h2>
      You can now see the status of the game by clicking the navigation bar at the top and clicking on the "Statistics" button.
      This page will tell you how many users are alive, how many ability codes has been used, which users have the most eliminations etc.
    </div>
    <div class="card">
      <h2 class="card-title">New Feature - Bio </h2>
      If you would like to leave your hunter a small message, you now can! Just scroll down to your Splash profile page and enter your message in the text box. Your hunter will be able to see your message through their target panel.
    </div>


{% endblock %}
