{% extends 'base.html' %}
{% block content %}

<!-- Stats.query.first().stats = str({
        "n_users":n_users,
        "n_matches":n_matches,
        "n_users_alive":n_users_alive,
        "n_matches_ongoing":n_matches_ongoing,
        "leaderboard":leaderboard,
        "number_of_codes_in_game":number_of_codes_in_game,
        "number_of_codes_activated":number_of_codes_activated,
        "code_leaderboard":code_leaderboard,
        # "qualified_board":qualified_board,
        "immunity_board":immunity_board,
        "is_paused": (is_paused()),
        "is_immunity_on":(is_immunity_on()),
        "recent_elims":recent_elims
        })
 -->
<h1 class="title"> STATISTICS </H1>

<div class="card">
     <span class="stat"><span class="stat-number">{{ basic_stats[2] }}</span> users alive out of <span class="stat-number">{{ stats["n_users"] }}</span></span>
</div>

<div class="card">
	<span class="stat"><span class="stat-number">{{stats["recent_elims"]}}</span> users eliminated in the past 24 hours</span>
</div>

<div class="leaderboard">
  <h1>Leaderboard</h1>
  <div class="leaderboard-list">
    <div class="row leaderboard-item-head">
      <div class="col-1">Rank</div>
      <div class="col-5">Name</div>
      <div class="col-5">#Eliminations</div>
    </div>
    {% for user in stats["leaderboard"] %}
      <div class="row leaderboard-item">
        <div class="col-1">{{user["rank"] + 1}}</div>
        <div class="col-5" >{{user["name"]}}</div>
        <div class="col-5">{{user["number_of_elims"]}}</div>
      </div>
    {% endfor %}
  </div>
</div>

<!-- <div class="leaderboard">
  <h1>Code Leaderboard</h1>
  <div>
  <ol class="leaderboard-list">
    {% for user in stats["code_leaderboard"] %}
    <li class="leaderboard-item">{{user["name"]}} - {{user["codes_found"]}} Codes Found</li>
    {% endfor %}
  </ol>
  </div>
</div> -->

</div>

<div class="card">
	<span class="stat"><span class="stat-number">{{ stats["number_of_codes_activated"] }}</span> out of <span class="stat-number">{{ stats["number_of_codes_in_game"] }}</span> codes in game</span>
</div>

<!-- IMPLEMENT CODE LEADERBOARD IN THE FUTURE
 -->
{% endblock %}
